---
// src/components/HeaderLinks.astro
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<a
  href="https://github.com/WesTIChU/blogr.directory/issues/new/choose"
  target="_blank"
  rel="noopener noreferrer"
  style="margin-right: 0.9rem; font-weight: 600;"
>
  Report AI
</a>

<Default><slot /></Default>